#cars {
    margin-top: 30px;
    margin-bottom: 11px;
    width: 300px;
    height: 200px;
    margin-left: 42%;
}

#logo {
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

.header {
    text-align: center;
    top: 0;
    width: 100%;
    height: 60px;

}
h2 {
    text-align: center;
    width: 100%;
}
h3 {
    text-align: center;
    width: 100%;
}


.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightblue;
}