#cars {
    align-content: center;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
}

#logo {
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

.header {
    text-align: center;
    margin-left: 200px;

}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightblue;
}