#cars {
    wigth: 200px;
    height: 200px;
}

#logo {
    width: 50px;
    height: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightblue;
}