<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headAttributes">
        <meta charset="UTF-8">
    </th:block>
    <title>The Pit Stop: Add Vehicle</title>
</head>
<body>
    <div th:fragment="header">
        <h2>The Pit Stop</h2>
    </div>

    <th:block th:fragment="scripts">
        <script></script>
    </th:block>

    <br><br>
    <form th:action="@{/car}" th:object="${car}" method="post">
        <h3>Vehicle Information:</h3>
        <input id="make" type="text" th:field="*{make}" placeholder="Make">
        <br>
        <input id="mode" type="text" th:field="*{mode}" placeholder="Model">
        <br>
        <input id="year" type="text" th:field="*{year}" placeholder="Year">
        <br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <br>
    
    <div th:fragment="footer">
        George Dinev @ Copyright 2021
    </div>

</body>
</html>